<div class="circle_cover">
  <img src="{{picture}}" alt="{{name}}">
  <span class="user_name">{{name}}</span>
</div>
<div class="circle_cover log_out">
  <span class="icon-close" {{action "signUserOut"}}></span>
</div>
{{yield}}
